<div class='postWrapper'>
  <!-- <div class='originalPost'>
    <p class='pTitle'>How Do I Brush My Teeth?</p>
    <p class='pName'>Posted by: <a href='#'>spKl1ne71</a></p>
    <p class='pDate'>November 18, 2018</p>
    <p class='pDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space. Here are more words to take up even more space. These will make no sense</p>
    <a class='pNum' (click)="showCommentsFunc()">11 Comments</a>
    <button (click)="showReplyFunc()">Leave a Reply</button>
  </div> -->
  <div class='originalPost'>
      <p class='pTitle'>{{question.subject}}</p>
      <p class='pName'>Posted by: <a href='#'>{{question.username}}</a></p>
      <p class='pDate'>{{question.createdAt}}</p>
      <p class='pDesc'>{{question.question}}</p>
      <a class='pNum' (click)="showCommentsFunc()">{{question.comments.length}} Comments</a>
      <button (click)="showReplyFunc()">Leave a Reply</button>
  </div>

  <div class='leaveReply' *ngIf='showReply'>
    <p>Leave a Reply</p>
    <textarea placeholder="Leave a comment" [(ngModel)]="commentText"></textarea>
    <p class='commentErr' *ngIf='showCommentErr'>{{commentErr}}</p>
    <div>
      <button (click)="leaveReply()">Reply</button>
    </div>
  </div>

  <div class='comments' *ngIf="showComments">
    <p class='commentsHeader'>Comments</p>
    <p class='commentSuccess' *ngIf='showCommentSuccess'>{{commentSuccess}}</p>
    <div class='comment' *ngFor="let comment of question.comments">
        <p class='cName'>Posted by: <a href='#'>{{comment.username}}</a></p>
        <p class='cDate'>{{comment.createdAt}}/p>
        <p class='cDesc'>{{comment.comment}}</p>
    </div>
    <!-- <div class='comment'>
      <p class='cName'>Posted by: <a href='#'>ashWIIIN</a></p>
      <p class='cDate'>November 20, 2018</p>
      <p class='cDesc'>Well I would suggest starting by purchasing a toothbrush and toothpaste. After opening the toothbrush and toothpaste, unscrew the cap of the toothpaste. After this, slowly squeeze the toothpaste out of the tube onto the brush of the toothbrush. Then simply run the toothbrush over and over along your teeth, making sure to get all edges. Afterwards, spit and rinse out your mouth. There you have it, you have brushed your teeth.</p>
    </div> -->
  </div>

</div>