<div class='loginWrapper'>
  <div class='mainBox'>
    <p class='boxTitle'>Login</p>
    <div class="loginInputs">
      <input type='text' class='loginBox' [(ngModel)]="email" placeholder='Email'>
      <p *ngIf=showErr_email class="error">Email is invalid!</p>
      <input type='password' class='loginBox' [(ngModel)]="password"  placeholder='Password'>
      <p *ngIf=showErr_password class="error">Password is invalid!</p>
    </div>
    <button (click)="submitLogin()" class='login'>Login</button>
    <p class="signup" [routerLink]="['/registration']">Sign up</p>
  </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
