    <div class='mainBox'>
      <p class='boxTitle'>Ask a Question!</p>
      <div class="questionInputs">
        <h3 class="questionTitle">Enter Question Title</h3>
        <input type='text' class='TitleBox' placeholder='Question Title'>
        <p class="error">Title is invalid!</p>
        <h3 class="questionTitle">Enter Question</h3>
        <textarea rows="5" cols="50" class="question" placeholder="Enter Question"></textarea>
        <p class="error">Question is invalid!</p>
      </div>
      <button class='post'>Post Question</button>
    </div>
