<div class='headerWrapper'>
    <div class='top'>
      <p>OPen Forum</p>
    </div>
    <div *ngIf="showBar" class='bottom'>
      <div class='myDropdown'>
        <p>Category</p>
        <a><img src='https://cdn1.iconfinder.com/data/icons/basic-ui-7/100/Artboard_3-512.png' alt='Down'></a>
      </div>
      <div class='right'>
          <p>Welcome, {{user_name}}</p>
          <button [routerLink]="['/user',userID]">Account</button>
          <button (click)="logout()">Logout</button>
      </div>
    </div>
  </div>