<div class='questionsWrapper'>
  <div class='top'>
    <button>ASK</button>
    <input type='text' placeholder='search'>
  </div>
  <div class='questions'>
    <div class='question'>
      <p class='qTitle'>How Do I Brush My Teeth?</p>
      <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
      <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
      <p class='qDate'>November 18, 2018</p>
      <a class='numResponses' href='#'>11 Comments</a>
    </div>
    <div class='question'>
      <p class='qTitle'>How Do I Brush My Teeth?</p>
      <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
      <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
      <p class='qDate'>November 18, 2018</p>
      <a class='numResponses' href='#'>11 Comments</a>
    </div>
    <div class='question'>
      <p class='qTitle'>How Do I Brush My Teeth?</p>
      <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
      <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
      <p class='qDate'>November 18, 2018</p>
      <a class='numResponses' href='#'>11 Comments</a>
    </div>
    <div class='question'>
      <p class='qTitle'>How Do I Brush My Teeth?</p>
      <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
      <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
      <p class='qDate'>November 18, 2018</p>
      <a class='numResponses' href='#'>11 Comments</a>
    </div>
    <div class='question'>
        <p class='qTitle'>How Do I Brush My Teeth?</p>
        <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
        <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
        <p class='qDate'>November 18, 2018</p>
        <a class='numResponses' href='#'>11 Comments</a>
      </div>
      <div class='question'>
        <p class='qTitle'>How Do I Brush My Teeth?</p>
        <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
        <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
        <p class='qDate'>November 18, 2018</p>
        <a class='numResponses' href='#'>11 Comments</a>
      </div>
      <div class='question'>
        <p class='qTitle'>How Do I Brush My Teeth?</p>
        <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
        <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
        <p class='qDate'>November 18, 2018</p>
        <a class='numResponses' href='#'>11 Comments</a>
      </div>
      <div class='question'>
        <p class='qTitle'>How Do I Brush My Teeth?</p>
        <p class='qDesc'>My Name is Spencer Kline. I have a question. Currently I don't know how to brush my teeth and I was hoping someone could help me. Here are some more words to take up space</p>
        <p class='qName'>Posted by: <a href='#'>spKl1ne71</a></p>
        <p class='qDate'>November 18, 2018</p>
        <a class='numResponses' href='#'>11 Comments</a>
      </div>

  </div>
</div>
