<div class='questionsWrapper'>
  <div class='top'>
    <button [routerLink]="['/ask']">ASK</button>
    <input type='text' (keyup)="searchQuestions()" [(ngModel)]="questionSearch" placeholder='search'>
  </div>
  <div *ngIf=!showNo_questions class='questions' >
    <div class='question' *ngFor="let question of shownQuestions" >
      <p [routerLink]="['/question',question['_id']]" class='qTitle'>{{question['subject']}}</p>
      <p [routerLink]="['/question',question['_id']]" class='qDesc'>{{question['question']}}</p>
      <p class='qName'>Posted by: <a [routerLink]="['/user',question['userID']]">{{question['username']}}</a></p>
      <p class='qDate'>{{question['createdAt'] | date}}</p>
      <a [routerLink]="['/question',question['_id']]" class='numResponses'>{{question['comments']['length']}} Comments</a>
    </div>
  </div>
  <div *ngIf=showNo_questions class='questions'>
    <div class='question'>
      <p class='qTitle'>Your Title Here</p>
      <p class='qDesc'>See your question posted over here.</p>
      <p class='qName'>Posted by: <a href='#'>{{user_name}}</a></p>
      <p class='qDate'>November 18, 2018</p>
      <a class='numResponses'>100 Comments</a>
    </div>
  </div>
</div>
