<div class='userWrapper'>
    <div class='top'>
        <img (click)="changePicture()" *ngIf="!showChangePic" class="profilePic" src="{{profile_picture}}" alt="profilePic">
        <img (click)="cancel()" *ngIf="showChangePic" class="profilePic" src="{{middlePicture}}" alt="profilePic">
        <div class="row">
                <input (keyup)="upping()" *ngIf="showChangePic" placeholder="Enter img url" class="pictureBox" [(ngModel)]="newPicture" > 
                <button (click)="confirmChange()" class="enter" *ngIf="showChangePic">Confirm</button>
        </div>   
        <p class='username'>{{user_name}}</p>
        <p class='name'>{{first_name}} {{last_name}}</p>
        <p class='joined'>Joined {{createdAt | date}}</p>
        <p class='numPosts'>{{numOfQuestions}} Posts</p>
    </div>
    <p class='big'>POSTS</p>
    <div *ngIf=numOfQuestions class='posts'>
        <div class='post' *ngFor="let question of questions">
            <a href='#' class='pTitle'>{{question['subject']}}</a>
            <p class='pDate'>{{question['createdAt'] | date}}</p>
            <p class='pDesc'>{{question['question']}}</p>
            <a class='pNum' href='#'>{{question['comments']['length']}} Comments</a>
        </div>
    </div>
    <div *ngIf=!numOfQuestions class='posts'>
        <p>No Questions yet.</p>
    </div>
</div>

