div.userWrapper{
    background:rgb(243, 245, 255);
    height:800px;
    font-family:Arial, Helvetica, sans-serif;
    padding:1px;
}
div.top img.profilePic{
    width:120px;
    height:120px;
    border:2px solid black;
    border-radius:5px;
}
div.top{
    width:400px;
    text-align:center;
    /* border:1px solid red; */
    display:block;
    margin:auto;
    
    margin-top:15px;
}
div.top p{
    margin:0px;
}
div.top p.username{
    font-weight:bold;
    font-size:14pt;
    margin-top:6px;
    color:maroon;
}
div.top p.name{
    font-size:13pt;
    margin-top:3px;
}
div.top p.joined{
    font-size:12pt;
    font-style:italic;
    margin-top:4px;
}
div.top p.numPosts{
    font-size:12pt;
    font-style:italic;
}
p.big{
    font-size:16pt;
    font-weight:bold;
    margin-left:20px;
}
div.posts{
    display:block;
    border:1px solid black;
    width:750px;
    margin:auto;
    background:white;
    height:480px;
    overflow:scroll;
}
div.post{
    margin:8px;
    border-bottom:1px solid rgb(70, 70, 70);
    padding-bottom:6px;
}
div.post p{
    margin:0px;
}
div.posts div.post a.pTitle{
    margin:0px;
    font-size:12pt;
    font-weight:bold;
    color:maroon;
    text-decoration: none;
}
div.posts div.post a.pTitle:hover{
    text-decoration: underline;
}
div.post p.pDate{
    font-size:11pt;
    font-style:italic;
}
div.post p.pDesc{
    font-size:12pt;
    margin-top:4px;
    max-height:75px;
    overflow:hidden;
}
div.post a.pNum{
    font-size:11pt;
    color:rgb(90, 90, 90);
    text-decoration:none;
}
div.post a.pNum:hover{
    text-decoration: underline;
}
input.pictureBox{
    font-size:14pt;
    border-radius:7px;
    width:250px;
    margin:10px;
    display:inline-block;
}
button.enter{
    display:block;
    background:white;
    width:90px;
    display: inline-block;
    color:maroon;
    height:30px;
    border-radius:5px;
    margin-top:5px;
    font-size:12pt;
}