div.mainBox{
    background:white;
    border-radius:10px;
    width:700px;
    display:block;
    margin:auto;
    padding:15px;
    margin-top:30px;
}

img.profilePic {
    max-width:200px;
    max-height:200px;
    display: inline-block;
    margin:auto;
    margin-left:34%;
    border: solid black;
    border-radius: 5px;
}

h1.success{
    color:green;
    text-align: center;
}

h1.failure{
    color:red;
    text-align:center;
}

div.mainBox p.boxTitle{
    font-family: 'Ubuntu', sans-serif;
    font-size:14pt;
    text-align: center;
    margin:5px;
    color:maroon;

}

div.mainBox p.userInfo{
    font-family: 'Ubuntu', sans-serif;
    font-size:14pt;
    text-align: left;
    margin:5px;
    color:maroon;

}

div.questionInputs{
    text-align: center;
}

h3.userInfo {
    font-family: 'Ubuntu', sans-serif;
    color: maroon;
    text-align: left;
    margin: 0;
}

p.error {
    font-size: 14pt;
    color: maroon;
    font-weight:bold;
    text-align: center;
    font-style: italic;
    margin:0;
}
div.originalPost{
    background:white;
    width:600px;
    display:block;
    margin:auto;
    border-radius:5px;
    border:2px solid maroon;
    font-family:Arial, Helvetica, sans-serif;
    padding:8px 15px;
    margin-top:15px;
}
div.originalPost p{
    margin:0px;
}
div.originalPost p.pTitle{
    font-size: 12pt;
    font-weight:bold;
    color:maroon;
}
div.originalPost p.pName{
    color:maroon;
    font-size: 12pt;
}
div.originalPost p.pDate{
    color:rgb(73, 73, 73);
    margin-bottom:4px;
    font-size: 12pt;
    font-style:italic;
}
div.originalPost p.pDesc{
    font-size:11pt;
}
div.originalPost a.pNum{
    display:inline-block;
    margin-top:10px;
    font-size: 12pt;
    height:30px;
    text-decoration: none;
    color:rgb(73, 73, 73);
}


/* Box styles */
    .myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 700px;
    height: 360px;
    overflow: scroll;
    }
    
    /* Scrollbar styles */
    ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid maroon;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: maroon;  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: black;  
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}